/* ESTILOS GLOBALES */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f9f8fa;
  color: #333;
  line-height: 1.6;
  text-align: center;
}


a {
  text-decoration: none;
  color: inherit
}


/* App */
.app {
  display: flex;
  min-height: 100vh
}

.app-main {
  width: 100%;
  flex: 1;
  margin-left: 200px;
  padding: 1rem
}


/* Responsive */
@media(max-width:1200px) {
  .app-main {
    margin-left: 180px
  }
}

@media(max-width:900px) {
  .app-main {
    margin-left: 150px
  }
}

@media(max-width:500px) {
  .app {
    flex-direction: column;
  }

  .app-main {
    margin-left: 0
  }
}

body.light {
  background-color: #f9f9f9;
  color: #222;
  transition: all 0.3s ease;
}

body.dark {
  background-color: #2f2f2f; /* gris oscuro */
  color: #f0f0f0;
  transition: all 0.3s ease;
}

button {
  cursor: pointer;
  background: transparent;
  border: 1px solid currentColor;
}
